In [4]:
from functools import reduce 
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.executor.memory", "2g")
    .config("spark.driver.memory", "4g")
    .getOrCreate()
)

In [2]:
spark.read.parquet('data/tables/transactions_20210228_20210827_snapshot/order_datetime=2021-02-28')

AnalysisException: Path does not exist: file:/Users/jackmelleuish/Documents/GitHub/data/tables/transactions_20210228_20210827_snapshot/order_datetime=2021-02-28

In [9]:
spark.read.parquet("data/tables/transactions_20210228_20210827_snapshot/order_datetime=2021-02-28")

+-------+------------+------------------+--------------------+
|user_id|merchant_abn|      dollar_value|            order_id|
+-------+------------+------------------+--------------------+
|      1| 28000487688|133.22689421562643|0c37b3f7-c7f1-48c...|
|  18485| 62191208634| 79.13140006851712|9e18b913-0465-4fd...|
|      1| 83690644458|30.441348317517228|40a2ff69-ea34-465...|
|  18488| 39649557865| 962.8133405407585|f4c1a5ae-5b76-40d...|
|      2| 80779820715| 48.12397733548124|cd09bdd6-f56d-489...|
|  18489| 43186523025| 98.14878546968934|9008a98e-1b02-4de...|
|      3| 29566626791| 46.33087226118639|26b7574e-81c2-455...|
|  18490| 93558142492|232.83335268750145|2bda0665-796f-4f2...|
|      3| 32361057556| 87.34942171371054|633a7656-2fcc-4b8...|
|  18491| 64974914166|130.12601873970038|4bc15338-83eb-43d...|
|      5| 83177825742| 66.66426160206629|43e3b3fe-791b-47f...|
|  18493| 43186523025| 69.75645555605993|6c494428-b293-459...|
|      6| 21772962346|113.04510652600983|000ca5ac-3247-4ef...|
|  18493| 67979471799| 53.03432496202065|dd61feff-5aa3-43d...|
|      7| 66079287213| 89.93535555889761|50a5619d-0647-487...|
|  18494| 49891706470|21.995368431723854|faac27e9-c054-44d...|
|     11| 98269572896|129.46280909485031|8f5d0cab-8055-435...|
|  18495| 66667026714|  48.3228941934147|ca150cbf-6e34-489...|
|     11| 20692490685|196.93916081228323|09bc8dd6-419f-4cb...|
|  18496| 60956456424| 82.30827454121753|d9df2270-6fb9-46e...|
+-------+------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
spark.read.parquet('data/tables/tbl_merchants.parquet')

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
|       Fusce Company|[(gift, card, nov...| 10206519221|
|Aliquam Enim Inco...|[(computers, comP...| 10255988167|
|    Ipsum Primis Ltd|[[watch, clock, a...| 10264435225|
|Pede Ultrices Ind...|([computer progra...| 10279061213|
|           Nunc Inc.|[(furniture, home...| 10323485998|
|Facilisis Facilis...|([computers, comp...| 10342410215|
|      Odio Institute|((equipment, tool...| 10346855916|
|    Rutrum Justo Ltd|([music shops - m...| 10364012396|
|   Tellus Foundation|[[artist supply a...| 10385011947|
|      Sed Et Company|([florists suppli...| 10385163239|
|              Id Ltd|([computers, comp...| 10385250025|
|Consequat Foundation|[[antique shops -...| 10404542215|
|Sit Amet Nulla Corp.|[[motor vehicle s...| 10430380319|
|Massa Vestibulum ...|[(moTor vehicle s...| 10441711491|
|       Ut Consulting|([gift, card, nov...| 10462560289|
+--------------------+--------------------+------------+
only showing top 20 rows

In [ ]:
import pandas as pd
pd.read_csv("data/tables/tbl_consumer.csv", '|')

,name,address,state,postcode,gender,consumer_id
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975
...,...,...,...,...,...,...
499994,Jessica Avila,508 Miranda Overpass Apt. 218,QLD,4400,Female,1385608
499995,Steven Thornton,7913 Schwartz Mission Suite 483,VIC,3097,Undisclosed,1466964
499996,Christy Smith,5681 Zachary Mountain Apt. 060,NSW,2756,Undisclosed,1253484
499997,Donna Sutton,54140 Jacob Point,VIC,3989,Female,175005
499998,Hannah Wilkins,61055 Long Valley,NSW,1755,Female,746835